# Giao diện và Hệ thống
streamlit==1.56.0
python-dotenv==1.2.2

# Trí tuệ nhân tạo (Gemini & LangChain)
langchain>=0.2.0
langchain-ollama>=0.1.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-text-splitters>=0.2.0
langchain-experimental
pandas
tabulate

# Cơ sở dữ liệu Vector
elasticsearch>=8.13.0
langchain-elasticsearch>=0.1.0

# Xử lý định dạng tài liệu
pypdf==6.10.0
docx2txt
openpyxl
unstructured
python-pptx

# Xử lý Hình ảnh & Audio (OCR & Whisper)
pytesseract
pdf2image
openai-whisper

# Mã hóa và bảo mật
msoffcrypto-tool

# Xử lý dữ liệu và trực quan hóa
networkx


